

html {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 0;
    color: white;
    background: rgb(10, 14, 28); 
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(11, 43, 65), 0 0 0.2em rgb(11, 43, 65);
    scroll-behavior: smooth;
  }

  .first {
    background: rgb(81,119,128);
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .first::before {
        content:'';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;

    }
  .first img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .first img #one{
    z-index: 10;
  }
    
  .parallax-text {
    position: absolute;
    font-size: 50px;
    text-align: center;
    top: 50%; /* Adjust the top position to center vertically */
    transform: translateY(-50%); /* Center vertically */
    white-space: nowrap;
    font-size: 4vw;
    z-index: 9;
}

    h2 {
        font-size: 50px;
        text-align: center
    }

    h3 {
        z-index:999;
        top: 0;
        left: 0;
        position:absolute;
        width:100%;
        font-size: 20px;
        text-align: right;
        color:white
    }

    h3 nav {
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        
    }

    h3 ul{
        display: flex;
        list-style: none;
        align-items: center;
    }

    h3 ul li a {
        text-decoration: none;
        color:#fff;
        padding: 0 1.5rem;
    }

    h3 ul li a:hover {
        color:#000000;
    }


    body {
        overflow-x: hidden;
        font-size: 20px;
        text-align: center;
    }

    button {
        font-size:25px; background-color: transparent; color:white;
        text-shadow:
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 rgb(16, 49, 68),
        1px 2px 0 #000000;
        border-radius: 25px;
        border-color: #000000;
        padding: 15px 15px;
        cursor: pointer;
        margin: 10px;
        transition: 1s;
        position: relative;
        overflow: hidden;
    }


    .button::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: rgb(33, 79, 95); 
        z-index: -1;
        transition: 1s;
        bottom: 0;
        border-radius: 50% 50% 0 0;
    }

    .button:hover::before {
        height: 180%
    }

    section {
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 100vh;
    }

    .hidden {
        opacity: 0;
        filter:blur(5px);
        transform: translateX(-100%);
        transition: all 1.5s;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    .sec {
        position: relative;
        padding: 100px;
        background: rgb(10, 13, 28);
    }
